
@import url('https://fonts.googleapis.com/css?family=Courgette|Montserrat|Niconne&display=swap');
body {
font-family: 'Courgette', cursive;
background-color: rgb(244, 239, 241);
}

* {box-sizing: border-box}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {

  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 10em;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #131212;
  font-size: 25px;
  padding: 8px 20px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
h1 {
    text-align: center;
    color: #631b0f;
    font-size: 2.5em;
}
h3 {
    
    text-align: center;
    color: #631b0f;
    font-size: 1.5em;
    padding-top: 1.5em;
}
.top {
    height: 15vh;
    justify-content: center;
    grid-area: header;
    background: linear-gradient(to right,
    #f57f9a,
    rgb(250, 144, 169),
    #8e4053,
    #f886a3,
    #8e4053,
    #ed9eb1,
    #eb7994
    );
}
.active, .link:hover {
  background-color: #666;
  color: white;
}
main {

    
    width: 100vw;
}
    

.top ul {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 7vh;
padding-right: 0.9em;
padding-bottom: 1em;

}
.top li {
    list-style: none;
    font-size: 2em;
    padding-top: 2em;
    
}
.link {
    
    color: rgb(44, 4, 24);
    font-weight: 700;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.4ms;
    padding: 0.2em 0.5em;
    display: block;
    margin-bottom: 2em;
  background-color: #f1f1f1;
  cursor: pointer;
}



#submit {
    text-align: center;
    
}


.contact  {
    background: #631b0f;
    text-align: center;
    padding: 1em 1em;
    border: 1px solid black;
    margin-left: 45vw;
    margin-top: 2em;
}

.capet {
    justify-content: center;
}
.auguste {
    justify-content: center;
}
.louis {
    justify-content: center;
}
.cap {
    text-align: center;
    font-size: 1.2em;
}
#caps {
    text-decoration: none;
}
#photo1  {
    float: left;
    border: 1px solid black;
    border-radius: 50%;
    height: 20vh;
    width: 10vw;
}
#photo3 {
margin-left: 45vw;
    height: 10em;
}
#photo4 {
height: 10em;
width: 10em;
margin-left: 45vw;

}
#photo2 {
    height: 10em;
    width: 10em;
    border: 1px solid black;
    border-radius: 50%;
    float: left;
}
#nom, #pr, #dn, #ad,
#cp, #ville, #tel, #email {
    background: #ed9eb1;
    padding: 1em 1em;
    margin: 1em 1em;
    width: 30vw;

}
#slide {
    margin-left: 20vw;
    text-align: center;
   
    margin-top: 4em;
    width: 60%;
   height: 40em;
    border-radius: 5px;
    box-shadow: 0 15px 15px 0#631b0f;
   
}
#time {
    font-size: 2em;
    text-align: center;
}
 



@media (max-width: 800px) {
    
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  margin-top: 5em;
}
  body {
    background: rgb(152, 250, 234);
    color: rgb(7, 68, 28);
    font-size: 14px;
  }
  .link {
      
    color: rgb(44, 4, 24);
    font-weight: 400;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.4ms;
    padding: 0.2em 0.5em;
    display: list-item;
    margin-bottom: 2em;
  background-color: white;
  cursor: pointer;
  font-size: 20px;
  }
  
.top {
    height: 15vh;
    justify-content: center;
    grid-area: header;
    background: skyblue;
    
}

h1 {
    text-align: center;
    color: rgb(7, 68, 28);
    font-size: 1.8em;
}

#slide {
    margin-left: 12em;
    margin-top: 2em;
    width: 60%;
   height: 20em;
    border-radius: 5px;
    box-shadow: 0 15px 15px 0#631b0f;
}

#nom, #pr, #dn, #ad,
#cp, #ville, #tel, #email {
    background: #c3e0cb;
    padding: 0.5em 0.5em;
    margin: 0.5em 0.5em;
    width: 30vw;

}

#photo1  {
    float: right;
    border: 1px solid black;
    border-radius: 50%;
    height: 10vh;
    width: 10vw;
}
#photo3, #photo4{
    float: left;
margin-left: 0;
}
}
@media (max-width: 400px){
    
    
.slideshow-container {
  max-width: 250px;
  position: relative;
  margin: auto;
  margin-top: 5em;
}
    
  body {
    background: rgb(223, 224, 235);
    color: rgb(25, 5, 63);
    font-size: 10px;
  }
  
.top ul {
display: flex;
flex-direction: column;

margin-top: 10px;;
padding: 0;

}

.top {
    height: 5vh;
    justify-content: center;
    grid-area: header;
    background: skyblue;
}
.top ul {
    background: rgb(252, 174, 174);
    height: 20em;
}
.top ul li {
    
    list-style: none;
    font-size: 2em;
    padding-top: 10px;
    text-align: center;
}

  .link {
      
    color: rgb(44, 4, 24);
    font-weight: 400;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.4ms;
   font-weight: 900;
    display: list-item;
   padding-top: 2px;
   cursor: pointer;
    font-size: 1em;
  }
  
#slide {
    margin-left: 9em;
    margin-top: 32em;
    width: 60%;
   height: 20em;
    border-radius: 5px;
    box-shadow: 0 15px 15px 0#631b0f;
}

h1 {
    text-align: center;
    color: #161211;
    font-size: 1.5em;
}
#liste {
    width: 100%;
}
#liste li {
background-color: rgb(140, 195, 240);
}

.active, .link:hover {
  background-color: rgb(84, 56, 243);
  color: white;
}
.text {
    font-size: 2em;
    color: rgb(250, 250, 250);
}
}